In [42]:
# String concatenation
s = "Python is easy to learn"
new_s = s + " and is fun!"
print(new_s)

Python is easy to learn and is fun!

In [43]:
# Checking substring
s = "Python is easy to learn"
b = "th" in s 
print(b)  # True

b = "rain" in s
print(b)

True
False

In [49]:
# Lets explore some String methods
s = "python is coOl language" 

print(s.lower())  
print(s.upper())  
print(s.replace("py", "my"))  
print(s.find("is")) # index of 'is' : 7

print(s.count('o'))
print(s.lower().count('o')) # this is called chaining method. It counts all o regardless of upper/lower case.

python is cool language
PYTHON IS COOL LANGUAGE
mython is coOl language
7
2
3

In [53]:
s = "  python is easy " # len(s) = 17 

print(s.lstrip()) # Removes empty spaces from left
print(s.rstrip()) # Removes empty spaces from right
print(s.strip())  # Removes all empty spaces from left and right

python is easy
  python is easy
14

In [54]:
s = "python is CoOL language. hope you have fun."

print(s.capitalize()) # Converts the first character to uppercase and the rest to lowercase.
print(s.title())

Python is cool language. hope you have fun.
Python Is Cool Language. Hope You Have Fun.

In [57]:
# endswith()
text = "example.csv"
print(text.endswith(".csv"))

True

In [60]:
# partition(sep): Splits the string at the first occurrence of sep into a 3-tuple: (before, sep, after).

text = "email@example.com"
print(text.partition("@"))

('email', '@', 'example.com')

In [61]:
# sometimes you have to split a data by delimiter/seperator

# STEP1: split based on ,
msg = "2025-08-23,ash,34,000,34.78"
lst = msg.split(",")
print(lst) # ['2025-08-23', 'ash', '34', '000', '34.78']

['2025-08-23', 'ash', '34', '000', '34.78']

In [62]:
#STEP2: split based on ;
msg = "2025-08-23;ash;34,000;34.78"
lst = msg.split(";")
print(lst)

['2025-08-23', 'ash', '34,000', '34.78']

In [64]:
# You cannot add numeric types to string
a = "7" # str
b = 5   # int
# res = a + b # ERROR
# print(res)

In [67]:
# what about multiplying str by number ???
# You can multiply numeric types to string: it gives string repetition
a = "773"
b = 5
res = a * b
print(res)

gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy. gerry is happy.

In [69]:
# string  is immutable, but list is mutable
s = 'Republic'
# s[0] = 'Z' # We get a error
print(s)

Republic

# STOP

In [ ]:
###OPTIONAL########
s = "Python is easy to learn" 

print(s[::-1]) # 'nrael ot ysae si nohtyP' (start from last idx and go backward)
print(s[-5:2:-1]) # 'l ot ysae si noh' (start from idx -5, 5th from last, go upto idx 2, with step size -1, backward)
print(s[-12:-5]) # 'asy to' (start from  idx -12 to idx -5,i.e. 12th from last to 5th last cahr)