# Crash Course on Python
### Topics
- Python Syntax & Data Types: int, string, float, bool
- Type conversion: Type casting
- Control Flow Structures: if - elif - else
- input function
- for loop, iterator, range function, while loop
- Data Structures: List, Tuple, Set, Dictionary
- Functions
- File operations: Read or Write to a file
- Error Handling

In [23]:
print()

In [25]:
# 1. simple print
print("2 Hello world. Today its raining")

2 Hello world. Today its raining

In [27]:
# 2. simple print
print("3 Hello world.", "Today its raining")
print("4 Hello world.", "Today its raining", "It is going to be humid today.", "Good luck")

3 Hello world. Today its raining
4 Hello world. Today its raining It is going to be humid today. Good luck

```
In the vastness of space, you define
A beauty that's beyond compare
A sight that makes us all stop 
Guiding us through life, as we try
To find our way, to reach our dreams
```

In [30]:
print("""In the vastness of space, you define
A beauty that's beyond compare
A sight that makes us all stop 
Guiding us through life, as we try
To find our way, to reach our dreams""")

In the vastness of space, you define
A beauty that's beyond compare
A sight that makes us all stop
Guiding us through life, as we try
To find our way, to reach our dreams

In [ ]:
# 2

# 1. Python Syntax & Data Types: int, string, float, bool

In [5]:
# print(x) # gives error because x is variable and not define. So lets define the var.

In [ ]:
# step1: Defining variables
x = 10           # integer
y = 3.14         # float
name = "Zena is warrior"    # string
is_ready = True  # boolean: True or False

In [6]:
x = 10           # integer

print("The variable x:", x)

print("The type is :", type(x))

The variable x: 10
The type is : <class 'int'>

In [7]:
y = 3.14         # float

print("The variable y:", y)

print("The type is :", type(y))

The variable y: 3.14
The type is : <class 'float'>

In [8]:
msg = "Zena is a warrior"    # string

print("The variable msg:", msg)

print("The type is :", type(msg))

The variable msg: Zena is a warrior
The type is : <class 'str'>

In [11]:
is_ready = False  # True False : boolean

print("The variable is_ready:", is_ready)

print("The type is :", type(is_ready))

The variable is_ready: False
The type is : <class 'bool'>

In [ ]:
# 3

## Type conversion: Type casting

In [17]:
a = int("3")
b = float("2.5")

print("Converted values a:", a)
print("type of a:", type(a))

print("Converted values b:", b)
print("type of b:", type(b))

Converted values a: 3
type of a: <class 'int'>
Converted values b: 2.5
type of b: <class 'float'>

In [ ]:
# 4

# 2. Control Flow Structures

In [8]:
# if-elif-else
age = 29 # 10 15 29

if age < 13:
    print("Child")
    print("Age is", age)
    
elif age < 18:
    print("Teenager")
    print("Age is", age)
    
else:
    print("Adult")

Adult

In [10]:
# input function

name   = input("Please enter your name:")
sport  = input("What is your favorite sport ?:")

if sport == "football":
    print("Hello", name, ". I also like football")
    
else:
    print("Hello", name, ". I wish I knew more about", sport)

Please enter your name: Ram
What is your favorite sport ?: hockey

Hello Ram . I wish I knew more about hockey

In [ ]:
# 5

In [19]:
# step1: Use for loop for repetitive tasks: Run this finite number of times.

for i in range(3):
  print("Hello world")
  print("Today I will learn python")

print("+++++I am DONE+++++")

Hello world
Today I will learn python
Hello world
Today I will learn python
Hello world
Today I will learn python
+++++I am DONE+++++

In [20]:
# step2: Now what is this i ? i is an iterator
  
for i in range(4): # i is iterating over 0, 1, 2, 3
    print("Iteration no.:", i)
    print("Multiply iterator by 3:", 3 * i)
    
print("YEA...Finally I am out of for loop")

Iteration no.: 0
Multiply iterator by 3: 0
Iteration no.: 1
Multiply iterator by 3: 3
Iteration no.: 2
Multiply iterator by 3: 6
Iteration no.: 3
Multiply iterator by 3: 9
YEA...Finally I am out of for loop

In [21]:
# While loop: keep running until some condition is met

i = 0
while i < 3:
    print("The counter is:", i)
    print("Multiply counter by 3:", 3 * i)
    i += 1                 # increment i: i = i + 1

print("I am out of while loop")

The counter is: 0
Multiply counter by 3: 0
The counter is: 1
Multiply counter by 3: 3
The counter is: 2
Multiply counter by 3: 6
I am out of while loop

In [ ]:
# 6

# 3. Data Structures: List, Tuple, Set, Dictionary

In [42]:
# List: square bracket []

age = [ 21, 55, 31, 64, 74, 31 ]

print("list is ", age)
print("element:", age[4]) # indexing starts with 0
print("type:", type(age))

list is  [21, 55, 31, 64, 74, 31]
element: 74
type: <class 'list'>

In [43]:
# Tuple: round bracket ()

age = ( 21, 55, 31, 64, 74, 31 )

print("tuple is ", age)
print("element:", age[4]) # indexing starts with 0
print("type:", type(age))

tuple is  (21, 55, 31, 64, 74, 31)
element: 74
type: <class 'tuple'>

In [46]:
# Set: curly braces {}

age = { 21, 55, 31, 64, 74, 31 }  # duplicates removed

print("set is ", age)
# print("element:", age[4]) # Error: indexing not possible
print("type:", type(age))

set is  {64, 21, 55, 74, 31}
type: <class 'set'>

In [49]:
# Dictionary --> { key: value } pairs

employee = {
    "name":       "Alice", 
    "age":        25,
    "salary":     30000,
    "is_married": True
}
print("The employee data:", employee)
print("salary:", employee['salary'])
print("type:", type(employee))

The employee data: {'name': 'Alice', 'age': 25, 'salary': 30000, 'is_married': True}
salary: 30000
type: <class 'dict'>

In [52]:
# list of dictionary: list of employees
emp1 = { "name": "Harry", "age": 25, "salary": 30000 }
emp2 = { "name": "Khan",  "age": 53, "salary": 40000 }
emp3 = { "name": "Rekha", "age": 29, "salary": 94000 }

employees = [ emp1, emp2, emp3 ]
print(employees)
print(employees[0])
print("type:", type(employees))

[{'name': 'Harry', 'age': 25, 'salary': 30000}, {'name': 'Khan', 'age': 53, 'salary': 40000}, {'name': 'Rekha', 'age': 29, 'salary': 94000}]
{'name': 'Harry', 'age': 25, 'salary': 30000}
type: <class 'list'>

In [ ]:
# 7

# 4. Functions

In [54]:
# simple function
def greet():
    print("OK, Now I am inside a function.")
    print("This function can perform some operations.")
    
greet() # call the function

OK, Now I am inside a function.
This function can perform some operations.

In [56]:
# add function
def add(a, b):
    res = a + b
    return res
    
ans = add(3, 4)
print("Function add:", ans)

Function add: 7

In [ ]:
# 8

# 5 File operations: Read or Write to a file

In [57]:
# step1: Create and write to a file 
text1 = "Hello. This is a great day about file read and write operations. "
text2 = "Show me how to write to a file"

file = open("notes.txt", "w")

file.write(text1)
file.write(text2)

file.close()

In [58]:
# step2: Read from a file 

file = open("notes.txt", "r")

content = file.read()

file.close()

print("The content of file:", content)

The content of file: Hello. This is a great day about file read and write operations. Show me how to write to a file

# 6. Error Handling

In [59]:
# step1: Erroneous code
a = 0 # 0 or 5

result = 10 / a

print(result)
print("Moving on with code")

ZeroDivisionError: division by zero

In [60]:
# step2: You catch ZeroDivisionError error/exception
a = 0

try:
    result = 10 / a
    print(result)
except ZeroDivisionError:
    print("You can't divide by zero!")
    print("But, I will give you a pass")

print("Moving on with code")

You can't divide by zero!
But, I will give you a pass
Moving on with code