# print
- **built-in function** that sends the specified values to the standard output device (usually the monitor/console/terminal).

In [11]:
print()

In [12]:
print("1 Hello world")

1 Hello world

In [15]:
print('1 Hello world')

1 Hello world

In [20]:
print("1 Hello world") # octothorpe or hashtag. Write comments here
print('2 Hello world') # using single quote

1 Hello world
2 Hello world

In [23]:
# This is a commented out line. If you uncomment it, Python would give error
print('1 Hello world') # using single quote

1 Hello world

In [26]:
# using comma , to print series of stmts 
print("2 Hello world.", "Today its raining.")
print("3 Hello world.", "Today its raining.", "It is going to be humid today.", "Good luck")

2 Hello world. Today its raining.
3 Hello world. Today its raining. It is going to be humid today. Good luck

In [ ]:
# 2

### print multiple lines
I want to print following:

```
Beneath the stars, the night wind sings,
Of quiet dreams and silver wings.
The moonlight dances on the sea,
A gentle world, so wild and free.
In silence, peace begins to grow.
```

In [27]:
# Method1: Not very efficient
print("Beneath the stars, the night wind sings,")
print("Of quiet dreams and silver wings.")
print("The moonlight dances on the sea,")
print("A gentle world, so wild and free.")
print("In silence, peace begins to grow.")

Beneath the stars, the night wind sings,
Of quiet dreams and silver wings.
The moonlight dances on the sea,
A gentle world, so wild and free.
In silence, peace begins to grow.

In [30]:
# Method2: Printing Multiple Lines Using Triple Quotes
print("""Beneath the stars, the night wind sings,
Of quiet dreams and silver wings.
The moonlight dances on the sea,
A gentle world, so wild and free.
In silence, peace begins to grow.""")

Beneath the stars, the night wind sings,
Of quiet dreams and silver wings.
The moonlight dances on the sea,
A gentle world, so wild and free.
In silence, peace begins to grow.

In [ ]:
# 3

## print special characters, aka escape sequence
- **back-slash** is treated differently inside a string
- These are used to represent non-printable or reserved characters in strings
```
Escape Sequence Meaning	Example
\n    Newline
\t    Tab
\\    Backslash (\)	"C:\\Users\\file.txt"
\"    Double quote (")	"He said, \"You look happy\""``

In [50]:
# newline, tab

print("Hello. My name is Khal. My age is 23.") 
# print("2 Hello. \nMy name is Khal. \nMy age is 23.") # newline
print("Hello. \t\tMy name is Khal. \tMy age is 23.") # tabline

Hello. My name is Khal. My age is 23.
Hello. 		My name is Khal. 	My age is 23.

In [53]:
# double quote

print("Hello. My name is Khal. My age is 23.") # 
print("Hello. My name is \"Khal\". My age is 23.") # double quote

Hello. My name is Khal. My age is 23.
Hello. My name is "Khal". My age is 23.

In [56]:
# printing \ inside a "": C:\Users\file.txt

# print("The path of file is C:\Users\file.txt") # Throws error
# print("""The path of file is C:\Users\file.txt""") # Throws error
print("The path of file is C:\\Users\\file.txt") # C:\Users\file.txt

The path of file is C:\Users\file.txt

In [ ]:
# 4

## Fun with unicode char

In [58]:
# display heart, sun, etc
print("\u2764")  # Heart symbol 
print("\u2600")  # Sun symbol 
print("\u03A9")  # Greek Omega

print('\U0001FAE0')
print(chr(128512))

‚ù§
‚òÄ
Œ©
ü´†
üòÄ

In [6]:
# An interesting line
print("Today is sunny \u2600. I want to talk with my \u2764 daughter. That would make me \U0001FAE0")

Today is sunny ‚òÄ. I want to talk with my ‚ù§ daughter. That would make me ü´†

In [ ]:
# Links for unicode char
# https://en.wikipedia.org/wiki/List_of_Unicode_characters
# https://unicode.org/emoji/charts/full-emoji-list.html#1f605 and changed U+1FAE0 to \U0001FAE0

In [60]:
# SIDE NOTE: you can perform regular math operations print

print(6 + 3)
print(6 * 3)
print(6 / 3)

9
18
2.0

In [ ]:
# 5

In [61]:
# print variable: 

person = "Happy" # person is a str variable with value Happy, 
age = 40         # age is a int variable with value 40

print("Hello. My name is", person, "and my age is", age)

Hello. My name is Happy and my age is 40

### More on this later

# STOP

In [ ]:
# EXTRA

### Print variables in 2 different styles

In [ ]:
# Lets say you are getting data from some other source in form of variables. Lets print it.

# style 1) Printing Multiple Values
person  = "Happy"    # person is a str variable with value Happy, 
wife    = "Miley"    # wife is a str variable with value Miley
age     = 40         # age is a int variable with value 40
wt      = 42.34      # wt is a float variable with value 4.34

# print(person)
# print("person")
# print(father) # ERROR: This need to be defined first

# print(person, wife, age, wt)
# print("person", wife, "age", wt)
# print("Hello. My name is", person)

# Lets print a meaningful statement
print("Hello. My name is", person, ". My brothers name is", wife, ". My age is", age, ". My weight is", wt)

Hello. My name is Alice . My brothers name is Rahim . My age is 10 . My weight is 4.345

In [ ]:
# style 2) Printing Multiple Values: formatting string (f-string)
person  = "Happy"    # person is a str variable with value Happy, 
wife    = "Miley"    # wife is a str variable with value Miley
age     = 40         # age is a int variable with value 40
wt      = 42.34      # wt is a float variable with value 4.34

print(f"Hello. My name is {person}. My wife name is {wife}. My age is {age}. My weight is {wt}") # var should be in {} braces
# print("Hello. My name is {person}. My wife name is {wife}. My age is {age}. My weight is {wt}") # without f

Hello. My name is Alice. My brother name is Rahim. My age is 10. My weight is 4.345

## print numbers using format: float numbers

In [44]:
n = 3.14159 # use 22/7
print(f"The number is {n}") 
print(f"The number is {n:.2f}")
print(f"The number is {n:.3f}") # rounds off

The number is 3.14159
The number is 3.14
The number is 3.142

1 HelloWorld!
2 Hello
World!
3 Hello!
Good Morning.
 Hope you had good sleep
How	are	you	Rahim!
Hello	World! This is my 	first example 	of tab

The path of file is C:\Users\file.txt

In [48]:
# printing " inside a "": He said, "You look happy"

# print("He said, "You look happy"") # ERROR
print("He said, \"You look happy\"")

He said, "You look happy"

In [49]:
# SKIP single quote inside a double quote
print("The gentleman said, '1 Hello world'")

The gentleman said, '1 Hello world'

In [50]:
# OPTIONAL#############################
# # print('It is\b a zenith')

# # print("\a")
# # print("His astute candor disarmed latent hostilities\b") # His astute candor disarmed latent hostilitie
# # print("Her tenacity ignited\r profound, serendipitous triumphs") # profound, serendipitous triumphs

In [51]:
# printing ' inside a ''
# print('It's a zenith') # Throws error
# print('It\'s a zenith') # It's a zenith

In [ ]:
# format with percentage
ratio = 0.857573
print(f"Success rate: {ratio}")
print(f"Success rate: {ratio:.1%}")
print(f"Success rate: {ratio:.3%}")

In [52]:
# print("############SKIP OPTIONAL#######")
# # left-aligns the integer i within 5 characters; right-aligns the float value within 6 characters, formatted to two decimal places.
# # print("1234567890123456789")
# print("S.No. | rate")
# for i in range(1, 12):
#     value = i * 10.1234
#     print(f"{i:<5} | {value:>6.2f}")

In [53]:
# Why do we need variables ? A simple use case: Easy to change the names at multiple places and I can reuse the  string
person = 'Harry'

msg = f"""Hey {person}. How are you doing {person} ?. 
It's a good day {person} to do some kayaking 
today. What do you think {person}?"""

print(msg)

Hey Harry. How are you doing Harry ?.
It's a good day Harry to do some kayaking
today. What do you think Harry?

# extra

In [54]:
### (OPTIONAL) Seperator between string
print("Hello.", "How are you?", "I am doing good.")

# use sep to insert seperator between strings: \t \n
print("Hello", "how are you?", "I am doing good.", sep="...")

Hello. How are you? I am doing good.
Hello...how are you?...I am doing good.

In [55]:
# (OPTIONAL)  endline between print statememt

# Now I want to override the default end line char \n
print("Hello.")
print("How are you?")
print("I am doing good.")



print("Hello.", end=" ") # other options: ; \t ,
print("How are you?", end=" ")
print("I am doing good.", end=" ")

# print("Hello.", end=";") # DEFAULT is end is newline \n
# print("How are you?", end=";")
# print("I am doing good.", end=";")

Hello.
How are you?
I am doing good.
Hello. How are you? I am doing good.

In [56]:
# perform calculation inside format string
age = 21
print(f"My age is {age}. People twice my age would be {2*age} years old")

My age is 21. People twice my age would be 42 years old

In [57]:
# Python(unlike SQL) is CASE SENSITIVE  <- VERY IMPORTANT
a = 3
A = 5789
print(a) # python is case sensitive: var a and A are different 
print(A)

# print("Hello") # is not same as Print()
# Print("Hello") # ERROR

3
5789

# OPTIONAL: print special characters

In [60]:
# ASCII Characters using chr()
print(chr(65))   # 'A'
print(chr(128512))  # üòÄ Smiley Face
print("I am feeling ", chr(128512))

A
üòÄ
I am feeling  üòÄ