# print using f-string
- f-string means **formatted string**
- Covenient method to print variable
- Make code readable and reduce formatting errors

In [61]:
name = "Ash"          # String variable

print("Name is", name)
print(f"Name is {name}")

Name is Ash
Name is Ash

In [64]:
age = 30              # Integer variable

print("Age is", age)
print(f"Age is {age}")

Age is 30
Age is 30

In [65]:
height = 6.2          # Float variable

print("Height is", height)
print(f"Height is {height}")

Height is 6.2
Height is 6.2

In [66]:
is_trainer = True     # Boolean variable

print("Is he/she a trainer ?", is_trainer)
print(f"Is he/she a trainer ? {is_trainer}")

Is he/she a trainer ? True
Is he/she a trainer ? True

In [68]:
name = "Ash"
age = 25
height = 4.1

print("My name is", name, "age is", age, "and height is", height) # lots of commas
print(f"My name is {name} age is {age} and height is {height}")

My name is Ash age is 25 and height is 4.1
My name is Ash age is 25 and height is 4.1

# Perform computation in f-string

In [54]:
age = 20

print("Age after 5 years:", age + 5)
print(f"Age after 5 years: {age + 5}")

Age after 5 years: 25
Age after 5 years: 25

In [69]:
# convert centimeter -> meter
user_height  = int(input("Enter your height in cm: ")) # typecast to int

print(f"Your height in meters: {user_height/100}")

Enter your height in cm:  120

Your height in meters: 1.2