# Topics:
- Variables
- Basic Data Types
- Type Casting
- input() function

## 1. What Are Variables?

A **variable** is a container used to store data in memory.

Think of a variable as a **label** attached to a value.

### Why do we need variables?
- To store data
- To reuse values
- To make programs readable and flexible

In [3]:
# Creating variables
age = 25
name = "Gary Patel"
height = 5.9

print(age)
print(name)
print(height)

25
Gary Patel
5.9

## 2. Basic Data Types in Python

Python has several built-in data types.  
We will focus on:

- **Numbers or numeric** → int, float, complex
- **Strings** → text data
- **Booleans** → True / False


#### Numeric Types
**int** → Whole numbers: x = 10, -4, 7, 89

**float** → Decimal numbers: y = 10.5, -54.789, 3.567

**complex** → Complex numbers: z = 3 + 4j , -1 + 2j

In [4]:
# Integer
x = 10
print(x, type(x))

10 <class 'int'>

In [5]:
# Float
y = 3.14
print(y, type(y))

3.14 <class 'float'>

### Strings

Strings are used to store text.
They are written inside quotes (' ' or " ").

In [6]:
message = "Hello Python"
name    = 'Student'

print(message)
print(name)
print(type(message))

Hello Python
Student
<class 'str'>

### Booleans

Booleans represent **True** or **False**.
They are commonly used in conditions.

In [10]:
is_python_easy = True
is_raining = False

print(is_python_easy, type(is_python_easy))
print(is_raining, type(is_raining))

True <class 'bool'>
False <class 'bool'>

## 3. Type Casting

Type casting means converting one data type into another.

Common functions:
- `int()`
- `float()`
- `str()`
- `bool()`

In [16]:
# step1: 
x = "10"

print(type(x))
# print(x / 10) # ERROR

<class 'str'>

In [18]:
# step2: now convert str into int
x = "10"
x = int(x)       # or float(x)

print(type(x))

print(x / 10)

<class 'int'>
1.0

In [19]:
# Integer to Float
a = 5
b = float(a)

print(b, type(b))

5.0 <class 'float'>

In [20]:
# convert float -> int
x = 10.5 # float

x = int(x) # covert it into int
print(x, type(x))

10 <class 'int'>

In [21]:
# Number to String
score = 95
score_str = str(score)

print(score_str, type(score_str))

95 <class 'str'>

### Not all type conversions are possible!

For example:
```python
int("hello")  # This will cause an error

## 4. input() – Basic User Interaction


The `input()` function is used to take input from the user.

### IMPORTANT
- `input()` **always returns a string**

In [22]:
# prompt user to enter name
name = input("Enter your name: ")

print("Hello,", name)

Enter your name:  ash

Hello, ash

In [25]:
# Using Type Casting with input()
age = int(input("Enter your age: "))

new_age = age + 1
print("You will be", new_age, "next year.")

Enter your age:  12

You will be 13 next year.