# Container for data: List, Tuple, Set
 
### List:
- A list is an **ordered, mutable** collection of elements. (**Ordered** means elements in the collection maintain the order in which they were added.)
- Can contain **duplicates**
- Are **heterogenous** (can contain elements of different data type like **int, str, boolean,** etc.)
- Supports indexing and slicing (my_list[0], my_list[1:3])

##### Use Case:
```
- When you need to preserve order of elements.
- When the collection will change frequently (e.g., insert, update, delete).
- Best for general-purpose storage and manipulation.
```

###  Tuple:
- A tuple is an **ordered, immutable** collection of elements.
- Can contain **duplicates**
- Are **heterogenous** (can contain elements of different kind like **int, str, boolean,** etc.)
- Supports indexing and slicing (my_tuple[0], my_tuple[1:3])
- Slightly faster than list and **ideal when data remains fixed**. That is you do not have to perform many insert or update operation.

#### Use Case:
```
- When you want to create a fixed, constant data structure.
- Often used for read-only or hashable data (e.g., keys in dictionaries {'shamlodhiya': 62, 'ashwani': 87}).
- Ideal when data should not be changed accidentally.
```

### Sets:
- A set is an **unordered, mutable** collection of elements.
- Contains **no duplicates**. 
- A set can contain elements of different data types as long as elements are str, int, float or bool. A set cannot contain list or dict.
- Does not support indexing or slicing

#### Use Case:
```
- When you need to eliminate duplicates.
- When doing set operations like union, intersection, difference.
- Useful for membership testing (if x in my_set) â€” fast lookup.
```


## SUMMARY
```

| Feature           | List                     | Tuple             | Set                   |
| ----------------- | ------------------------ | ----------------- | --------------------- |
| Ordered           | Yes                      | Yes               | No                    |
| Mutable           | Yes                      | No                | Yes                   |
| Allows Duplicates | Yes                      | Yes               | No                    |
| Indexable         | Yes                      | Yes               | No                    |
| Use Case          | General purpose,         | Fixed data,       | Unique elements,      |         
                    | changeable data          | hashable use      | fast lookup           |
                                               
--------------------------------------------------------------------------------------------
```

In [66]:
# How to create list , tuple, set
# list:   names = []
# tuple:  names = ()
# set:    names = {}

# list: Output preserves the order. Can contain duplicates
names = ['Tom', 'Ashwani', 'Patel', 'Shamlodhiya', 'Ashwani', 'Tom', 'Ashwani'] 

print(names)
print(type(names))

['Tom', 'Ashwani', 'Patel', 'Shamlodhiya', 'Ashwani', 'Tom', 'Ashwani']
<class 'list'>

In [67]:
# tuple: Output preserves the order. Can contain duplicates
names = ('Tom', 'Ashwani', 'Patel', 'Shamlodhiya', 'Ashwani', 'Tom', 'Ashwani')

print(names)
print(type(names))

('Tom', 'Ashwani', 'Patel', 'Shamlodhiya', 'Ashwani', 'Tom', 'Ashwani')
<class 'tuple'>

In [68]:
# set:  Duplicates are removed
names = {'Tom', 'Ashwani', 'Patel', 'Shamlodhiya', 'Ashwani', 'Tom', 'Ashwani'}

print(names) 
print(type(names))

{'Ashwani', 'Patel', 'Shamlodhiya', 'Tom'}
<class 'set'>

In [69]:
# set: Output does not preserve the order.
names = {'Tom', 'Ashwani', 'Patel', 'Shamlodhiya', 'Jambosh'}

print(names) 
print(type(names))

{'Ashwani', 'Jambosh', 'Shamlodhiya', 'Patel', 'Tom'}
<class 'set'>

In [17]:
# 2

In [70]:
# list is heterogenous: can contain elements of different types - int, float, list, tuple, set
l = [ 1, 3.2, [20, 34, "apple"], (1, 3, 4), {3, 5}, True ] 

print(l)

[1, 3.2, [20, 34, 'apple'], (1, 3, 4), {3, 5}, True]

In [71]:
# tuple is heterogenous: can contain elements of different types - int, float, list, tuple, set
t = ( 1, 3.2, [20, 34, "apple"], (1, 3, 4), {3, 5}, True )

print(t)

(1, 3.2, [20, 34, 'apple'], (1, 3, 4), {3, 5}, True)

In [72]:
# set of int, float, bool, str. But cannot create set of list, set, etc
s = { 5, 3.2, True, "Banana", "Mangoe", False, True } 

print(s)

{False, True, 3.2, 5, 'Mangoe', 'Banana'}

In [74]:
# ERROR: set of list, set
# s = { 1, 3.2, [2, 4] } # ERROR
# s = { 1, 3.2, {2, 4} } # ERROR
# print(s)

In [22]:
# 3

### Access elements: List and Tuple support indexing

In [78]:
# list access: index starts with 0
data = [10, 30, 60, 70, 50, 30, 60, 90, 10, 50] # age, income, etc

print(data[0])   # prints element at index 0 : 10
print(data[3])   # prints element at index 3 : 70

print(data[-1])  # access last number 50
print(data[-4])  # access 4th element from the last number

10
70
50
60

In [82]:
# list Slicing: [start_idx: stop_idx: step_size]. 
# Default for start_idx=0, default for stop_idx=last position, default for step_size=1
data = [10, 30, 60, 70, 50, 30, 60, 90, 10, 50] # age, income,
print(data)

print(data[1:5])    # slice from idx=1 to idx=4, but not idx 5: [30, 60, 70, 50]
print(data[1:7:2])  # slice from idx=1 to idx=6 with step size=2: [30, 70, 30]

[10, 30, 60, 70, 50, 30, 60, 90, 10, 50]
[30, 60, 70, 50]
[30, 70, 30]

In [87]:
# list slicing: part2
data = [10, 30, 60, 70, 50, 30, 60, 90, 10, 50]
print(data)

print(data[:3])   # slice first 3 elements: [10, 30, 60]
print(data[2:])   # slice from index 2 to last [60, 70, 50, 30, 60, 50]
print(data[::2]) # from begin to end with step size =2
print(data[::-1]) # reverse

[10, 30, 60, 70, 50, 30, 60, 90, 10, 50]
[10, 30, 60]
[60, 70, 50, 30, 60, 90, 10, 50]
[10, 60, 50, 60, 10]
[50, 10, 90, 60, 30, 50, 70, 60, 30, 10]

In [90]:
# tuple access: index starts with 0
data = (10, 30, 60, 70, 50, 30, 60, 90, 10, 50) # age, income,
print(data)

print(data[0])   # prints element at index 0 : 10
print(data[3])   # prints element at index 3 : 70
print(data[-1])  # access last number 50

(10, 30, 60, 70, 50, 30, 60, 90, 10, 50)
10
70
50

In [91]:
# tuple slicing: [start_idx: stop_idx: step_size]. 
# Default for start_idx=0, default for stop_idx=last position, default for step_size=1
data = (10, 30, 60, 70, 50, 30, 60, 90, 10, 50) # age, income, etc.
print(data)

print(data[1:7])  # slice from idx=1 to idx=6: (30, 60, 70, 50, 30, 60)
print(data[1:7:2])  # slice from idx=1 to idx=6 with step size=2: [30, 70, 30]

(10, 30, 60, 70, 50, 30, 60, 90, 10, 50)
(30, 60, 70, 50, 30, 60)
(30, 70, 30)

In [95]:
# tuple slicing: part2
data = (10, 30, 60, 70, 50, 30, 60, 90, 10, 50)

print(data[:3])   # slice first 3 elements: [10, 30, 60]
print(data[2:])   # slice from index 2 to last [60, 70, 50, 30, 60, 50]
print(data[::2]) # from begin to end with step size =2
print(data[::-1]) # reverse

(10, 30, 60)
(60, 70, 50, 30, 60, 90, 10, 50)
(10, 60, 50, 60, 10)
(50, 10, 90, 60, 30, 50, 70, 60, 30, 10)

In [29]:
# 4

## set does not support indexing

In [108]:
# no indexing for set
data = { 10, 30, 60, 70, 50, 30, 60, 90, 10, 50 } 
print(data)

# print(data[0]) # ERROR

{50, 90, 70, 10, 60, 30}

## list and set are mutable, tuple is immutable

In [109]:
## modify list

data = [10, 20, 60, 10, 20, 30]
print("data BEFORE =", data)
data[2] = 99
print("data AFTER  =", data)

data BEFORE = [10, 20, 60, 10, 20, 30]
data AFTER  = [10, 20, 99, 10, 20, 30]

In [111]:
## Not possible to modify tuple
data = (10, 20, 60, 10, 20, 30)

print("data =", data)
# data[2] = 99 # ERROR

data = (10, 20, 60, 10, 20, 30)

In [ ]:
# set elements can be changed but not through indexing. Explained later below on how to do this.

In [33]:
# 5

### list(), tuple() and set() built-in function
- Used to create or convert collections of data.

In [112]:
# tuple -> list,set
t = (2, 4, 7, 2, 1, 2)

l = list(t)
s = set(t)

print(l)
print(s)

[2, 4, 7, 2, 1, 2]
{1, 2, 4, 7}

In [113]:
# list -> tuple,set
l = [2, 4, 7, 2, 1, 2]

t = tuple(l)
s = set(l)

print(t)
print(s)

(2, 4, 7, 2, 1, 2)
{1, 2, 4, 7}

In [114]:
# set -> list, tuple
s = [2, 4, 7, 1]

t = tuple(s)
l = list(s)

print(t)
print(l)

(2, 4, 7, 1)
[2, 4, 7, 1]

In [37]:
# 6

# STOP