# For loop + range + continue + break
- Allow you to perform repetitive tasks.
- Following is the general expression of for loop:
```
for variable in iterable:
    # block of code
```

In [83]:
# step1: suppose we want to print hello 4 times:
print("Hello")
print("Hello")    
print("Hello")
print("Hello")

Hello
Hello
Hello
Hello

In [84]:
# step2: Or I can print using for loop
for i in [0, 1, 2, 3]: 
    print("Hello")

Hello
Hello
Hello
Hello

In [85]:
# where does the for loop ends: thats decided by indentation
for i in [0, 1, 2, 3]:
    print("hello")
    print("I am trapped in for loop") 

print("+++++Finished++++++")

hello
I am trapped in for loop
hello
I am trapped in for loop
hello
I am trapped in for loop
hello
I am trapped in for loop
+++++Finished++++++

In [88]:
# What is this variable iterator i? Lets print this
# STEP1: 
for i in [0, 1, 2, 3]: 
    print(f"The value of i is {i}") # here I am accessing iterator i

The value of i is 0
The value of i is 1
The value of i is 2
The value of i is 3

In [89]:
# STEP2: Lets use i to print count down and then lift off
for i in [5, 4, 3, 2, 1]:
    print(f"Count down {i}")
    print("...Hold your breath") 

print("+++++++++LIFT OFF+++++++++++")

Count down 5
...Hold your breath
Count down 4
...Hold your breath
Count down 3
...Hold your breath
Count down 2
...Hold your breath
Count down 1
...Hold your breath
+++++++++LIFT OFF+++++++++++

In [92]:
# step1: lets perform some math on elements: multiply all elements by 3
for i in [1, 2, 3, 4]:
    print(f"3 * {i} = {i*3}")

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12

In [94]:
# step2: range()- lets perform same math with range()
for i in range(1, 21):
    print(f"3 * {i} = {i*3}")

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36
3 * 13 = 39
3 * 14 = 42
3 * 15 = 45
3 * 16 = 48
3 * 17 = 51
3 * 18 = 54
3 * 19 = 57
3 * 20 = 60

In [95]:
# STEP3: range()- lets perform multiplication of 3 with [2, 7, 12, 17]

for i in range(2, 18, 5):
    print(f"3 * {i} = {i*3}")

3 * 2 = 6
3 * 7 = 21
3 * 12 = 36
3 * 17 = 51

In [97]:
# STEP4: range()- count down

for i in range(5, 0, -1): # [ 5, 4, 3, 2, 1 ]
    print(f"Count down {i}")

print("+++ LIFT OFF +++")

Count down 5
Count down 4
Count down 3
Count down 2
Count down 1
+++ LIFT OFF +++

In [98]:
#1) prints all elements of a list with meaningful message with each fruit
fruits = ["mango", "kiwi", "cherry", "jackfruit"]
for e in fruits:
    print(f"I love {e}")

I love mango
I love kiwi
I love cherry
I love jackfruit

# for + break 
- **break**: immediately exits the loop even if some iterations are left

In [101]:
# for + break:

# 1) Find if number 7 exists in a list: exit the loop after finding 7 in a list of numbers
numbers = [5, 23, 7, 3, 65, 16, 3, 14]

for i in numbers:
    print(f"checking {i}")
    if i == 7:
        print(f"Found target! Exiting the for loop")
        break # NOTE: comment it out to see what happens without it
        
print("+++++Loop finished++++++")

checking 5
checking 23
checking 7
Found target! Exiting the for loop
+++++Loop finished++++++

# for + continue
- **continue**: skip the rest of the current loop iteration and move to the next iteration

In [104]:
# 1) continue: print all number except 65
numbers = [5, 23, 8, 3, 65, 16, 65, 14, 3]

for i in numbers:
    if i == 65:
        print(f"skipping number {i}")
        continue # NOTE: comment it out to see what happens without it
    print(f"number: {i}")
    
print("+++++Loop finished++++++")

number: 5
number: 23
number: 8
number: 3
skipping number 65
number: 16
skipping number 65
number: 14
number: 3
+++++Loop finished++++++

# STOP

# Range
### Generally used with for loop

In [ ]:
# Now comes range: It helps to iterate many many times..say 100
# range(start, stop, step): Generates a sequence from start up to (but not including) stop, incrementing by step.
# default step=1

for i in range(0,4): # here start=0, stop=4
    print(f"{i} hello") # here I am accessing iterator i
    print("I am trapped in for loop") 
    
print("finished")

#################################
# Lets perform some math on elements: multiply all elements by 3
for i in range(0,4):
    res = i * 3
    print(f"{i} * 3 = {res} ")
    
print("Finished")

##################################
# lets redo above and add the step in range: 0,4,8,12
for i in range(0,16,4): # start=0, stop=16, step=4
    res = i * 4
    print(f"{i} * 4 = {res}")

# (ADVANCED) Nested "for inside for"

In [ ]:
# work backward...start with outer for loop and start adding inside for statement to see whats happening.
#step1
for outer in range(4): # Outer loop: iterates three times (0, 1, 2, 3)
    print("start outer")
    print(f"outer is {outer}")
    print("end outer\n")
print("##########")

# step2
for outer in range(4): # Outer loop: iterates three times (0, 1, 2, 3)
    print("start outer")
    print(f"outer is {outer}")
    for inner in range(3): # Inner loop: iterates two times (0, 1, 2) inside
        print(f"...inner is {inner}")
    print("end outer\n")

In [ ]:
# I wanted to see what following loop is going to print.. and analyse this.
for outer in range(4): # Outer loop: iterates three times (0, 1, 2, 3)
    for inner in range(3): # Inner loop: iterates two times (0, 1, 2) for each i
        print(f"outer: {outer}, inner: {inner}")
    print("next\n")

print("DONE")

In [ ]:
# What can I do with this ? Answer: Print multiplication table...start small

# STEP1: trial and error1: This is does not work
for i in range(4): # Outer loop: iterates three times (0, 1, 2, 3)
    for j in range(3): # Inner loop: iterates two times (0, 1, 2) for each i
        result = i * j
        print(f"{i} x {j} = {result}")
    print("next\n")
print("####################")


# STEP2: trial and error2: This is does not work
for i in range(1, 5): # CHANGED  
    for j in range(3):
        result = i * j
        print(f"{i} x {j} = {result}")  
    print()  # Print a blank line after each table
print("####################")

# STEP3: trial and error3: SUCCESS
for i in range(1, 5):  
    for j in range(1, 4):# CHANGED  
        result = i * j
        print(f"{i} x {j} = {result}")  
    print()  # Print a blank line after each table
print("####################")


# STEP4: trial and error3: OPTIMIZE
for i in range(1, 5):  
    for j in range(1, 4): 
        print(f"{i} x {j} = {i*j}")  # REMOVED variable result
    print()  # Print a blank line after each table
print("####################")

In [ ]:
# OPTIONAL: lets do some addition with nested for loop
for i in range(1, 5):  
    for j in range(1, 4):
        result = i + j
        print(f"{i} + {j} = {result}")  
    print()  # Print a blank line after each table