In [2]:
# and operator: if every single condition is True then it will return True, else it will return False 
print(True  and True)
print(True  and False)
print(False and True)
print(False and False)


print("#######################")
print(True  and True and True  and True)
print(True  and True and False and True)

True
False
False
False
#######################
True
False

In [3]:
# example1: Check if age is between 20 and 30
age = 60

res = age > 20 and age < 30 
# res = True  and   False

print(res)

False

In [4]:
# example2: Check if age and income satisfy some condition
age = 25 
income = 20000

# Check if age > 20 and income > 15000
res = age > 20 and income > 15000 
# res = True      and    True

print(res)

True

In [5]:
age = 25 
income = 20000

# Check if age > 30 and income < 15000
res = age > 30 and income < 15000 
# res =  False   and   False

print(res)

False

In [6]:
# or condition: if a single condition is True then  it will return True else it will return False
print(True  or True)
print(True  or False)
print(False or True)
print(False or False)

True
True
True
False

In [8]:
print(True  or True  or True  or True)
print(True  or True  or False or True)
print(False or False or False or False)

True
True
False

In [9]:
# EXAMPLE1: determine if age is out range [30 to 60]
age = 5

res = age < 30 or age > 60 
# res = True   or False

print(res)

True

In [12]:
# EXAMPLE2: check age and name
age = 5
name = 'jerry'

# res = age < 30 or name == 'tinku' # True or False
# res = age < 30 or name == 'jerry' # True or True
res = age > 30 or name == 'TINKU' # False or False


print(res)

False

In [13]:
# combine or +  and

# example1: Extra charge if high consumption(more than 500 W) and either urban area or AC is used.
units_used = 520 # power consume
area = 'urban'
has_air_conditioner = True

res = units_used > 500 and (area == 'urban' or has_air_conditioner) 
# res =  True         and  (   True        or        True)

print(res)

True

In [14]:
# example2: checks either if both subjects(science+math) score are > 40 or total score exceed 95.
math_score = 21
science_score = 65

res = (math_score > 40 and science_score > 40) or (math_score + science_score > 95) 
# res = (False        and           True     ) or (   False  )

print(res)

False

In [15]:
math_score = 33
science_score = 65

res = (math_score > 40 and science_score > 40) or (math_score + science_score > 95) 
# res = (False       and      True           ) or ( True )

print(res)

True

In [21]:
# Print not a is False 
print(True)
print(not True)
print(not False)

# ################
a = True
print(not a)
# ################

#example: check if user is admin
user = 'admin'
res = not (user == 'admin')

print(res)

True
False
True
False
False

In [23]:
#STEP1:  check if a substring is present inside another string
sentence = 'University of Miami'

res = 'Mia' in sentence
print(res)

res = 'Mia' not in sentence
print(res)

True
False

In [24]:
# STEP2: Now I change Mia -> mia

# check if a substring is present inside another string
sentence = 'University of Miami'

res = 'mia' in sentence
print(res)


res = 'mia' not in sentence
print(res)

False
True

In [26]:
# check if element is present inside a container
lst = [1, 3, 5, 2]

print(1 in lst)
print(9 in lst)

True
False

In [27]:
a = 3
b = 6

print(a is b) # checks if a and b are living in same memory address
print(a is not b) # this would negate the above 'is' operator

False
True

In [28]:
# where is it stored ?
a = 3
b = 6

print(id(a))
print(id(b))

2589919963504
2589919963600

In [29]:
a = 3
b = 3
print(a is b)

print(id(a))
print(id(b))

True
2589919963504
2589919963504

In [31]:
a = 3
b = a
print(a is b) 

print(id(a))
print(id(b))

True
2589919963504
2589919963504