# Type casting: changing one data type to another.

In [15]:
# implicit type casting: python automatically converts data types when its safe.
a = 6
b = 3.8
c = 1 + 2j

# Lets print above using f-string
print(f"type of a is {type(a)}")
print(f"type of b is {type(b)}")
print(f"type of c is {type(c)}")

type of a is <class 'int'>
type of b is <class 'float'>
type of c is <class 'complex'>

# convert string to int or float and vice-versa

In [18]:
# convert str to int
# step1: 
x = "10"
print(type(x))
# print(x / 10) # ERROR


# step2: now convert str into int
x = int(x)
print(type(x))
print(x / 10)

<class 'str'>
<class 'int'>
1.0

In [20]:
# convert str to float
x = "15.7"
# print(x / 10) # ERROR

x = float(x)
print(type(x))
print(x / 5)

<class 'float'>
3.1399999999999997

In [23]:
# can only convert valid number string to int or float
x = "heebie jeebie"

# x = int(x) # ERROR
# x = float(x) # ERROR

In [24]:
# convert int or float to string
x = 32 # 32.6
x = str(x)

print(x)
print(type(x))

32
<class 'str'>

# convert float to int and vice-versa

In [25]:
# convert float -> int . It truncates the decimal part
x = 10.7 # float

x = int(x) # covert it into int
print(x)

10

In [27]:
# convert int to float
x = 10 

x = float(x) # covert it into int
print(x)
print(type(x))

10.0
<class 'float'>

# Boolean type-casting: Empty values are False; non-empty values are True.

In [28]:
# Boolean type-casting: Empty values are False; non-empty values are True.
print(bool(0))       # False
print(bool(42))      # True
print(bool(""))      # False
print(bool("Hello")) # True

False
True
False
True

# container type-casting: list(), tuple(), set() Conversions

In [31]:
numbers = [5, 3, 2, 9]

# numbers = set(numbers)
# print(numbers)
# print(type(numbers))

numbers = tuple(numbers)
print(numbers)
print(type(numbers))

numbers = list(numbers)
print(numbers)
print(type(numbers))

(5, 3, 2, 9)
<class 'tuple'>
[5, 3, 2, 9]
<class 'list'>