In [34]:
# STEP1: User does not supply input
a = 5
b = 7
ans = a + b

print(f"the sum is {ans}")

the sum is 12

In [36]:
# STEP2: We want user to input data. Now user supplies input ( but output is not what was desired )

a = input("enter your first number:") # here a is str
b = input("enter your second number:") # here b is str

# Lets print what the user entered
print(f"you entered {a} and {b}")
print(f"The type of a is {type(a)}. The type of b is {type(b)}")

# And add the numbers
ans = a + b # concatenates the string
print(f"Your sum is {ans}") # ANSWER IS WRONG

enter your first number: 4
enter your second number: 7

you entered 4 and 7
The type of a is <class 'str'>. The type of b is <class 'str'>
Your sum is 47

In [37]:
# STEP3: convert a, b into data-type int using type casting
a = input("enter your first number:") # here a is str
b = input("enter your second number:") # here b is str

a = int(a) # type cast
b = int(b) # type cast

ans = a + b

print(f"Your sum is {ans}") # ANSWER IS RIGHT

enter your first number: 4
enter your second number: 7

Your sum is 11

In [38]:
# STEP4: convert a, b into data-type int directly: Let's combine/wrap int on input: 
a = int(input("enter your first number:")) # here a is int
b = int(input("enter your second number:")) # here b is int

ans = a + b

print(f"Your sum is {ans}") # ANSWER IS RIGHT

enter your first number: 4
enter your second number: 7

Your sum is 11

In [39]:
# Now I can perform all arithmetic operation on user supplied
# numbers: multiply, divide, etc

a = int(input("enter your first number:")) # here a is int
b = int(input("enter your second number:")) # here b is int

ans = a * b

print(f"Your product is {ans}") # ANSWER IS RIGHT

enter your first number: 4
enter your second number: 7

Your product is 28

In [41]:
# Now user supplies input with float values.
a = float(input("enter your first number"))
b = float(input("enter your second number"))

ans = a * b

print(f"you entered {a} and {b}")
print(f"Your product is {ans}")

print(type(ans))

enter your first number 4.1
enter your second number 5.8

you entered 4.1 and 5.8
Your product is 23.779999999999998
<class 'float'>

In [43]:
# NOTE: We can convert only numbers to int...not text charaters
# a = "heebie-jeebie" # ERROR
a = "11"

x = int(a) 

print(x)

11

In [47]:
fruits = ["Guava", "Kiwi", "Mango", "Kiwi" ] # list
print(len(fruits))

fruits = ("Guava", "Kiwi", "Mango", "Kiwi") # tuple
print(len(fruits))

fruits = {"Guava", "Kiwi", "Mango"} # set
print(len(fruits))

scores = {
    'Smith': 23,
    'Sharma': 34,
    'Lee': 23,
}
print(len(scores))

4
4
3
3

In [50]:
# Example 1: Checking if a variable is an integer
data = 10
check = isinstance(data, int)
print(f"Is {data} an integer? {check}")  # Output: Is 10 an integer? True

Is 10 an integer? True

In [53]:
# Example 2: Checking if a variable is a string
data = "Hello"
check = isinstance(data, str)
print(f"Is '{data}' a string? {check}")  # Output: Is 'Hello' a string? True

Is 'Hello' a string? True

In [56]:
# Example 3: Checking if a variable is a list
data = [1, 2, 3]
check = isinstance(data, list)
print(f"Is {data} a list? {check}")  # Output: Is [1, 2, 3] a list? True

Is [1, 2, 3] a list? True

In [60]:
# Example 4: Checking if a variable is either an integer or a float
data = 3.14
check = isinstance(data, (int, float))
print(f"Is {data} an integer or a float? {check}")  # Output: Is 3.14 an integer or a float? True

Is 3.14 an integer or a float? True

In [61]:
# Example 1: Checking if a variable is a dictionary
data = {"name": "Alice", "age": 30}
check = isinstance(data, dict)
print(f"Is {data} a dictionary? {check}")  # Output: Is {'name': 'Alice', 'age': 30} a dictionary? True

Is {'name': 'Alice', 'age': 30} a dictionary? True

In [62]:
# Example 2: Checking if a variable is a set
data = {1, 2, 3}
check = isinstance(data, set)
print(f"Is {data} a set? {check}")  # Output: Is {1, 2, 3} a set? True

Is {1, 2, 3} a set? True

In [63]:
sequence = ['cherry', 'kiwi', 'banana']

#STEP1: without enumerate:
for e in sequence:
    print(f"Item: {e}")

Item: cherry
Item: kiwi
Item: banana

In [65]:
# STEP2: I want to put numbers in  front of data that is being printed, i.e. I want to enumerate
i = 1
for e in sequence:
    print(f"Index: {i} | Item: {e}")
    i += 1

Index: 1 | Item: cherry
Index: 2 | Item: kiwi
Index: 3 | Item: banana

In [66]:
# STEP3: Lets use enumerate function
for i,e in enumerate(sequence, start=1):
    print(f"Index: {i} | Item: {e}")

Index: 1 | Item: cherry
Index: 2 | Item: kiwi
Index: 3 | Item: banana

In [71]:
# The sequence could be list, tuple, set, dict

# sequence = ['cherry', 'kiwi', 'banana']
# sequence = ('cherry', 'kiwi', 'banana')
# sequence = {'cherry', 'kiwi', 'banana', 'banana'}
# sequence = "Hello you"

student_scores = {"Ram": 85, 
                  "Carlos": 92, 
                  "Roman": 78
}
sequence = student_scores.items()

for i,e in enumerate(sequence, start=1):
    print(f"Index: {i} | Item: {e}")

Index: 1 | Item: ('Ram', 85)
Index: 2 | Item: ('Carlos', 92)
Index: 3 | Item: ('Roman', 78)