In [4]:
# Tuple declaration
tpl = ("apple", "banana", "cherry")
print(tpl)
print(type(tpl))

# #another way to create tuple without ()
tpl = "apple", "banana", "cherry"
print(tpl)
print(type(tpl))

# create a tuple from a list
fruits = ["apple", "banana", "cherry"]
tpl = tuple(fruits)  # from list
print(tpl)
print(type(tpl))

('apple', 'banana', 'cherry')
<class 'tuple'>
('apple', 'banana', 'cherry')
<class 'tuple'>
('apple', 'banana', 'cherry')
<class 'tuple'>

In [6]:
#SIDE NOTE:
one_item_tpl = ("apple",) # mind the comma for it creates tuples
print(one_item_tpl)
print(type(one_item_tpl))

# # NOTE: # This is a string and not a tuple!
tpl = ("apple")  
print(tpl)
print(type(tpl))

('apple',)
<class 'tuple'>
apple
<class 'str'>

In [11]:
# tuple can contain various types of elements:

# number tuple: int, float
t = (10, 20, 25.75)
print(t)

# string tuple
t = ('Jessa', 'Emma', 'Kelly')
print(t)

# mixed type tuple: string,int,float,list
t = ('Jessa', 30, 45.75, [25, 78])
print(t)

t = ((1,2,7.3), "ash",1234,54,12000)
print(t)

(10, 20, 25.75)
('Jessa', 'Emma', 'Kelly')
('Jessa', 30, 45.75, [25, 78])
((1, 2, 7.3), 'ash', 1234, 54, 12000)

In [12]:
fruits = ("apple", "banana", "cherry")

# Accessing elements
print(fruits[0])  # 'apple'
print(fruits[-1])  # 'cherry'
print(fruits[-2])  # 'banana'

# Slicing
print(fruits[1:])  # ('banana', 'cherry')

apple
cherry
banana
('banana', 'cherry')

In [14]:
# Tuple concatenation
fruits = ("apple", "banana", "cherry")
new_fruits = fruits + ("orange", "grape", "apple")
print(new_fruits)  # ('apple', 'banana', 'cherry', 'orange', 'grape')

# Tuple repetition
print(fruits * 2)  # ('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

('apple', 'banana', 'cherry', 'orange', 'grape', 'apple')
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [19]:
# Checking existence
fruits = ("apple", "banana", "cherry")
print("banana" in fruits)  # True

# Finding index
print(fruits.index("cherry"))  # 2

# Tuple length
print(len(fruits))  # 3

True
2
3

In [21]:
# tuple are immutable
planets = ["venus", "uranus", "earth"]
planets[1] = "jupyter" # list are mutable
print(planets)

planets = ("venus", "uranus", "earth")
planets[1] = "jupyter" # tuple are immutable

['venus', 'jupyter', 'earth']

TypeError: 'tuple' object does not support item assignment

In [22]:
t = (10, 20, 60, 30, 60, 40, 60)
count = t.count(60) # Count all occurrences of item 60
print(count)

count = t.count(600)
print(count)

3
0

In [23]:
t = (10, 20, 60, 30, 60, 40, 60)
print(min(t))
print(max(t))
print(sum(t))
print(len(t))

10
60
280
7