In [6]:
# creating dict: style1
student_scores = {
    "Ram": 85, 
    "Carlos": 92, 
    "Roman": 78
}

print(student_scores)
print(type(student_scores))

# ####################
# Side note: I can rewrite above like this too:
student_scores = { "Ram": 85, "Carlos": 92, "Roman": 78 }
print(student_scores)
print(type(student_scores))

# # BUT it is less clear.

{'Ram': 85, 'Carlos': 92, 'Roman': 78}
<class 'dict'>
{'Ram': 85, 'Carlos': 92, 'Roman': 78}
<class 'dict'>

In [7]:
# creating dict from a list: style2
l = [
    ('Ram',85),
    ('Carlos',92),
    ('Roman', 78)
]

student_scores = dict(l) # converts list into a dictionary
print(student_scores)
print(type(student_scores))

{'Ram': 85, 'Carlos': 92, 'Roman': 78}
<class 'dict'>

In [9]:
# creating dict: style3 (Using dict with zip()) 
names  = ["Ram", "Carlos", "Roman"] # keys
scores = [85,     92,       78]     # values

student_scores = dict(zip(names, scores))

print(student_scores)

{'Ram': 85, 'Carlos': 92, 'Roman': 78}

In [12]:
# Accessing values using keys

student_scores = {
   "Surendar": 85, 
   "Bob": 92,
   "Tanner": 78
}

print(student_scores["Surendar"])  # Output: 85
# print(student_scores["Tom"])       # ERROR: KeyError 

print(student_scores.get("Bob"))  # Output: 92
print(student_scores.get("Tom"))  # None

85
92
None

In [15]:
# show me all keys
student_scores = {
   "Surendar": 85, 
   "Bob": 92,
   "Tanner": 78
}

keys = student_scores.keys()
print(keys)

# show me all values
values= student_scores.values()
print(values)

# show me both key,values:
items = student_scores.items()
print(items)

dict_keys(['Surendar', 'Bob', 'Tanner'])
dict_values([85, 92, 78])
dict_items([('Surendar', 85), ('Bob', 92), ('Tanner', 78)])

In [16]:
# show me how many elements there are in dict
print(len(student_scores))

3

In [17]:
# Side not: Keys can be string, int, float
employee = { # keys=employee_id, value=age
    56: 85, 
    12: 92, 
    34: 78
}

print(employee)
print(employee[12])

{56: 85, 12: 92, 34: 78}
92

In [19]:
# Add / update entries in dict

student_scores = {
   "Surendar": 85, 
   "Bob": 92,
   "Tanner": 78
}

print(f"before adding:{student_scores}")
student_scores["David"] = 88  # Adding new key-value pair
print(f"after adding:{student_scores}")


# Now I want to update some value based on key
student_scores["Surendar"] = 90  # Updating value
print(f"after update:{student_scores}")

before adding:{'Surendar': 85, 'Bob': 92, 'Tanner': 78}
after adding:{'Surendar': 85, 'Bob': 92, 'Tanner': 78, 'David': 88}
after update:{'Surendar': 90, 'Bob': 92, 'Tanner': 78, 'David': 88}

In [21]:
# iterate over dictionary

student_scores = {
   "Surendar": 85, 
   "Bob": 92,
   "Tanner": 78
}

for name, score in student_scores.items():
    print(f"The dictionary key:values are {name}: {score}")

print("Done")


######################
#APPLICATION: count how many students scored > 80
count = 0
for name, score in student_scores.items():
   if score > 80:
       count +=1

print(count)

The dictionary key:values are Surendar: 85
The dictionary key:values are Bob: 92
The dictionary key:values are Tanner: 78
Done
2

In [24]:
# check for a key

student_scores = {
   "Surendar": 85, 
   "Bob": 92,
   "Tanner": 78
}

search = 'Eve' # Tanner
if search in student_scores:
    print(f" {search} score is available.")
else:
    print(f" {search} score is not found.")

 Eve score is not found.

In [25]:
# remove an entry based on key:
student_scores = {
   "Surendar": 85, 
   "Bob": 92,
   "Tanner": 78
}

student_scores.pop("Bob")  
print(student_scores)

{'Surendar': 85, 'Tanner': 78}

In [26]:

# remove all entries
student_scores = {
   "Surendar": 85, 
   "Bob": 92,
   "Tanner": 78
}

student_scores.clear()
print(student_scores)

{}

In [28]:
# List in dictionary: Values are list
students = { # key=name, value=[age,height,location]
    "Swamy" : [50, 1.7, "Kerala"],
    "Tinku" : [43, 1.3, "Delhi"],
    "Happy" : [32, 1.8, "Noida"]
}

print(students)
print(students['Happy'])
print(students['Happy'][1]) # height of Happy

{'Swamy': [50, 1.7, 'Kerala'], 'Tinku': [43, 1.3, 'Delhi'], 'Happy': [32, 1.8, 'Noida']}
[32, 1.8, 'Noida']
1.8

In [30]:
# dictionary in dictionary:  values are dictionary

students = {
    "Swamy" : {'age': 50, 'ht': 1.7, 'location': "Kerala"},
    "Tinku" : {'age': 43, 'ht': 1.3, 'location': "Delhi"},
    "Happy" : {'age': 32, 'ht': 1.8, 'location': "Noida"}   
}

print(students)                 # show all elements of dictionary
print(students["Happy"])        # show all values for Happy
print(students["Happy"]["ht"])  # show me Happy height

{'Swamy': {'age': 50, 'ht': 1.7, 'location': 'Kerala'}, 'Tinku': {'age': 43, 'ht': 1.3, 'location': 'Delhi'}, 'Happy': {'age': 32, 'ht': 1.8, 'location': 'Noida'}}
{'age': 32, 'ht': 1.8, 'location': 'Noida'}
1.8

In [32]:
# merge 2 dict

class_a = {"Archie": 85,
           "Bono": 92
}

class_b = {"Charlie": 78, 
           "David": 88,
           "Zena": 54
}

# Method 1: Using update()
merged_scores = class_a.copy()
merged_scores.update(class_b)
print(merged_scores)
#################################

# Method 2: Using `|` operator (Python 3.9+)
merged_scores = class_a | class_b
print(merged_scores)

{'Archie': 85, 'Bono': 92, 'Charlie': 78, 'David': 88, 'Zena': 54}
{'Archie': 85, 'Bono': 92, 'Charlie': 78, 'David': 88, 'Zena': 54}