# Detecting outliers: IQR Method
- Inter Quartile Range

In [1]:
import pandas as pd

df = pd.read_csv("data_outliers_iqr.csv")
print(df)

         Name  Score
0       Aarav     52
1        Diya     48
2       Rohan     45
3      Ananya     44
4       Kabir     49
5        Isha     55
6      Vivaan     40
7       Meera     46
8       Arjun     44
9        Neha     53
10     Aditya     47
11      Pooja     47
12      Rahul     48
13      Sneha     52
14      Kunal     48
15      Priya     34
16  Siddharth     52
17      Nisha     52
18     Manish     48
19      Kavya     44
20       Amit     51
21       Ritu     51
22      Varun     47
23     Shreya     48
24     Nikhil     45
25      Tanvi     49
26     Suresh     42
27    Pallavi     52
28      Mohit     45
29     Ayesha     51
30     Rakesh     42
31     Simran     47
32     Deepak     49
33      Ankit     41
34     Bhavya     50
35      Reena     48
36      Vikas     41
37       Tina     43
38     Gaurav     53
39     Sonali     54
40      Harsh     28
41       Riya     31
42     Naveen     68
43     Pankaj     75
44     Lokesh     74

In [2]:
# Compute IQR

Q1 = df["Score"].quantile(0.25)
Q3 = df["Score"].quantile(0.75)
IQR = Q3 - Q1

print(Q1, Q3)
print(IQR)

44.0 52.0
8.0

In [3]:
# Define lower and upper bounds
lower_bound = Q1 - 1.5 * IQR # min
upper_bound = Q3 + 1.5 * IQR # max

print(lower_bound, upper_bound)

32.0 64.0

In [4]:
# print outliers

mask = (df["Score"] < lower_bound) | (df["Score"] > upper_bound)

outliers = df[mask]
print("Outliers:\n", outliers)

Outliers:
       Name  Score
40   Harsh     28
41    Riya     31
42  Naveen     68
43  Pankaj     75
44  Lokesh     74

# Trimming

In [9]:
# trimming: removing outliers from df

mask = (df["Score"] >= lower_bound) & (df["Score"] <= upper_bound)

df_trimmed = df[mask]

print(df_trimmed)

         Name  Score
0       Aarav     52
1        Diya     48
2       Rohan     45
3      Ananya     44
4       Kabir     49
5        Isha     55
6      Vivaan     40
7       Meera     46
8       Arjun     44
9        Neha     53
10     Aditya     47
11      Pooja     47
12      Rahul     48
13      Sneha     52
14      Kunal     48
15      Priya     34
16  Siddharth     52
17      Nisha     52
18     Manish     48
19      Kavya     44
20       Amit     51
21       Ritu     51
22      Varun     47
23     Shreya     48
24     Nikhil     45
25      Tanvi     49
26     Suresh     42
27    Pallavi     52
28      Mohit     45
29     Ayesha     51
30     Rakesh     42
31     Simran     47
32     Deepak     49
33      Ankit     41
34     Bhavya     50
35      Reena     48
36      Vikas     41
37       Tina     43
38     Gaurav     53
39     Sonali     54

# Capping or winsorization

In [12]:
print(lower_bound, upper_bound)
print("Outliers:\n", outliers)

32.0 64.0
Outliers:
       Name  Score
40   Harsh     28
41    Riya     31
42  Naveen     68
43  Pankaj     75
44  Lokesh     74

In [13]:
# cap the outliers
df_winsorized = df.copy()

df_winsorized["Score"] = df_winsorized["Score"].clip(lower=lower_bound, upper=upper_bound)

print(df_winsorized)

         Name  Score
0       Aarav     52
1        Diya     48
2       Rohan     45
3      Ananya     44
4       Kabir     49
5        Isha     55
6      Vivaan     40
7       Meera     46
8       Arjun     44
9        Neha     53
10     Aditya     47
11      Pooja     47
12      Rahul     48
13      Sneha     52
14      Kunal     48
15      Priya     34
16  Siddharth     52
17      Nisha     52
18     Manish     48
19      Kavya     44
20       Amit     51
21       Ritu     51
22      Varun     47
23     Shreya     48
24     Nikhil     45
25      Tanvi     49
26     Suresh     42
27    Pallavi     52
28      Mohit     45
29     Ayesha     51
30     Rakesh     42
31     Simran     47
32     Deepak     49
33      Ankit     41
34     Bhavya     50
35      Reena     48
36      Vikas     41
37       Tina     43
38     Gaurav     53
39     Sonali     54
40      Harsh     32
41       Riya     32
42     Naveen     64
43     Pankaj     64
44     Lokesh     64