In [ ]:
import pandas as pd
import numpy as np

data_file = "data_students_performance.csv"

In [14]:
# lets create a DF

data = {
    "age_kids": [2, 4, 4, 5, 6, 7, 7, 120]
}
df = pd.DataFrame(data)
print(df)

   age_kids
0         2
1         4
2         4
3         5
4         6
5         7
6         7
7       120

In [15]:
mean = df["age_kids"].mean()
print(mean)

19.375

In [18]:
# Lets read a CSV file and calculate mean of math score
df = pd.read_csv(data_file)
# print(df)

mean = df["math score"].mean()
print(mean)

66.089

In [ ]:
# Median

In [19]:
# lets create a DF

data = {
    "age_kids": [4, 120, 7, 2, 5, 7, 6, 4]
}
df = pd.DataFrame(data)
print(df)

   age_kids
0         4
1       120
2         7
3         2
4         5
5         7
6         6
7         4

In [20]:
median = df["age_kids"].median()
print(median)

5.5

In [23]:
# Lets read a CSV file and calculate median of math score
df = pd.read_csv(data_file)
# print(df)

median = df["math score"].median()
print(median)

66.0

In [ ]:
# mode

In [26]:
# data in numbers
data = {
    "Score": [2, 2, 4, 6, 7, 7, 7, 7, 9]
}
df = pd.DataFrame(data)
# print(df)

mode = df["Score"].mode()
# print(mode)
print(mode[0])

7

In [27]:
# side note: You can also calculate the value counts
print(df["Score"].value_counts())

Score
7    4
2    2
4    1
6    1
9    1
Name: count, dtype: int64

In [28]:
# data is in form of strings
data = {
    "Size": ['L', 'L', 'XL', 'M', 'M', 'L', 'XL', 'M', 'L']
}
df = pd.DataFrame(data)
# print(df)

mode = df["Size"].mode()
print(mode[0])

L

In [29]:
# data has 2 modes
data = {
    "Score": [2, 2, 4, 6, 7, 7, 7, 7, 9, 9, 9, 9]
}
df = pd.DataFrame(data)
# print(df)

mode = df["Score"].mode()
print(mode)

0    7
1    9
Name: Score, dtype: int64

In [32]:
# Lets read a CSV file and calculate mode of race, most common occuring values
df = pd.read_csv(data_file)
# print(df)

mode = df["race/ethnicity"].mode()
print(mode[0])

group C

In [33]:
# side note: You can also calculate the value counts

print(df["race/ethnicity"].value_counts())

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64