In [1]:
# make sure you have pandas installed
!pip install pandas

Requirement already satisfied: pandas in c:\users\hi\appdata\local\programs\python\python39\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\hi\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hi\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hi\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hi\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\hi\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

WARNING: Ignoring invalid distribution -eras (c:\users\hi\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -eras (c:\users\hi\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -eras (c:\users\hi\appdata\local\programs\python\python39\lib\site-packages)

[notice] A new release of pip is available: 24.2 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

import warnings
warnings.filterwarnings(action='ignore')

# print(pd.__version__)
data_file = 'data.csv' # NOTE: make sure you have this file

In [4]:
# Create a DataFrame and export the data to a file
data = {
    'name':       ['ash', 'timmy', 'jimmy', 'Samantha'],
    'age':        [30,     33,       61,       19],
    'is_working': [True,   False,   True,     True],
    'income':     [20.4,   20.1,     34.7,     55.9] 
}
df = pd.DataFrame(data)

print(df)
print(type(df))

       name  age  is_working  income
0       ash   30        True    20.4
1     timmy   33       False    20.1
2     jimmy   61        True    34.7
3  Samantha   19        True    55.9
<class 'pandas.core.frame.DataFrame'>

In [9]:
# different ways to export data to file
df.to_csv('junk.csv', index=False) # default sep=','

# df.to_csv('junk.csv', sep=';', index=False)

# df.to_excel('junk.xlsx', index=False, sheet_name='my_sheet1')

# df.to_json('junk.json', orient='records', lines=True)

# df.to_pickle('junk.pkl')

In [10]:
# I can import from CSV with comma separator
# from pathlib import Path
# data_file = Path.cwd() / 'data.csv'

data_file = 'data.csv'
df = pd.read_csv(data_file) # default sep=','

print(df)

       Name  Age         City  Exp  Exp2   Salary passport  bonus  hours
0     Alice   25      Chicago    2     2  70000.0      a43   1000    100
1       Bob   30  Los Angeles    5     5  80000.0      a44   3000    150
2   Charlie   35      Chicago    7     7      NaN      a45      0    200
3     David   40      Houston   10    10  90000.0      a46   7000    100
4       Eva   22      Houston    1     1  48000.0      a47   2555    120
5     Frank   28          NaN    3     3  72000.0      a48      0    100
6     Grace   32  San Antonio    6     6  85000.0      a49      0    200
7     Helen   26    San Diego    2     2  62000.0      a50   9000    100
8     Helen   26    San Diego    2     2  62000.0      a51      0     80
9     Helen   26    San Diego    2     2  62000.0      a52   3000    100
10    Jerry   23      Phoenix    6     6  78000.0      a53      0     80

In [12]:
# different ways to import from local computer

# read from CSV file
# df = pd.read_csv('data_semi_colon.txt', sep=';') # file has , in the data
df = pd.read_csv("data_semi-colon-california_house.csv", sep=';')
print(df)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
1       -118.30     34.26                43.0       1510.0           310.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
4       -119.67     36.33                19.0       1241.0           244.0
...         ...       ...                 ...          ...             ...
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

[3000 rows x 9 columns]

In [13]:
# read from excel file
df = pd.read_excel('data.xlsx', sheet_name='Sheet1')  # Requires openpyxl or xlrd
print(df)

       Name  Age         City  Experience  Experience2   Salary
0     Alice   25      Chicago           2            2  70000.0
1       Bob   30  Los Angeles           5            5  80000.0
2   Charlie   35      Chicago           7            7      NaN
3     David   40      Houston          10           10  90000.0
4       Eva   22      Houston           1            1  48000.0
5     Frank   28          NaN           3            3  72000.0
6     Grace   32  San Antonio           6            6  85000.0
7     Helen   26    San Diego           2            2  62000.0
8     Helen   26    San Diego           2            2  62000.0
9     Helen   26    San Diego           2            2  62000.0
10    Jerry   23      Phoenix           6            6  78000.0

In [14]:
# read from JSON file
df = pd.read_json('data.json',  lines=True)
print(df)

       Name  Age         City  Experience  Experience2   Salary
0     Alice   25      Chicago           2            2  70000.0
1       Bob   30  Los Angeles           5            5  80000.0
2   Charlie   35      Chicago           7            7      NaN
3     David   40      Houston          10           10  90000.0
4       Eva   22      Houston           1            1  48000.0
5     Frank   28         None           3            3  72000.0
6     Grace   32  San Antonio           6            6  85000.0
7     Helen   26    San Diego           2            2  62000.0
8     Helen   26    San Diego           2            2  62000.0
9     Helen   26    San Diego           2            2  62000.0
10    Jerry   23      Phoenix           6            6  78000.0

In [15]:
# read from pickle file
df = pd.read_pickle('data.pkl')
print(df)

       Name  Age         City  Experience  Experience2   Salary
0     Alice   25      Chicago           2            2  70000.0
1       Bob   30  Los Angeles           5            5  80000.0
2   Charlie   35      Chicago           7            7      NaN
3     David   40      Houston          10           10  90000.0
4       Eva   22      Houston           1            1  48000.0
5     Frank   28          NaN           3            3  72000.0
6     Grace   32  San Antonio           6            6  85000.0
7     Helen   26    San Diego           2            2  62000.0
8     Helen   26    San Diego           2            2  62000.0
9     Helen   26    San Diego           2            2  62000.0
10    Jerry   23      Phoenix           6            6  78000.0

In [3]:
# displaying the data
data_file = 'data.csv'
df = pd.read_csv(data_file)

print(df)
# print(df.head(3)) # 1st 3 rows
# print(df.tail(3)) # last 3 rows

# print(df.sample(n=3))                  # Sample 3 random rows
# print(df.sample(frac=0.2))             # Sample 20% of the rows
# print(df.sample(n=5, replace=True))    # Sample with replacement, so duplicates can appear
# print(df.sample(n=3, random_state=42)) # Sample 3 random rows with consistent output each time it runs

       Name  Age         City  Exp  Exp2   Salary passport  bonus  hours
0     Alice   25      Chicago    2     2  70000.0      a43   1000    100
1       Bob   30  Los Angeles    5     5  80000.0      a44   3000    150
2   Charlie   35      Chicago    7     7      NaN      a45      0    200
3     David   40      Houston   10    10  90000.0      a46   7000    100
4       Eva   22      Houston    1     1  48000.0      a47   2555    120
5     Frank   28          NaN    3     3  72000.0      a48      0    100
6     Grace   32  San Antonio    6     6  85000.0      a49      0    200
7     Helen   26    San Diego    2     2  62000.0      a50   9000    100
8     Helen   26    San Diego    2     2  62000.0      a51      0     80
9     Helen   26    San Diego    2     2  62000.0      a52   3000    100
10    Jerry   23      Phoenix    6     6  78000.0      a53      0     80